Repository DiamondLightSource/workflows, pull requests merged in 2024-10, with the labels that each got.

#199 Update session namespace explanation
  docs/explanations/session_namespces.md
Labels: documentation

#202 update workflow component to take any child component as prop
  frontend/workflows-lib/lib/components/workflow/WorkflowAccordian.tsx
  frontend/workflows-lib/lib/components/workflow/WorkflowStack.tsx
  frontend/workflows-lib/lib/main.ts
  frontend/workflows-lib/lib/types.ts
  frontend/workflows-lib/stories/WorkflowAccordion.stories.tsx
  frontend/workflows-lib/stories/WorkflowStack.stories.tsx
  frontend/workflows-lib/stories/common.ts
  frontend/workflows-lib/tests/components/WorkflowAccordion.test.tsx
  frontend/workflows-lib/tests/components/WorkflowStack.test.tsx
Labels: Frontend

#195 Federate `graph-proxy` schema into the graph
  .github/workflows/graph-proxy-schema.yaml
Labels: enhancement, github actions

#224 Only create supergraph schema PR on relase
  .github/workflows/ci.yaml
Labels: bug, github actions

#225 Increase wait time for `argo-workflow` chainsaw test
  charts/workflows/Chart.yaml
  charts/workflows/test-policy/argo-workflow/chainsaw-test.yaml
Labels: bug, github actions

#234 Increase argo workflow chainsaw test sleep duration to 20s
  charts/workflows/Chart.yaml
  charts/workflows/test-policy/argo-workflow/chainsaw-test.yaml
Labels: bug, github actions

#242 Fix graph proxy container CI
  .github/workflows/ci.yaml
Labels: bug, github actions

#243 Fix sessionspaces image name
  charts/sessionspaces/Chart.yaml
  charts/sessionspaces/values.yaml
Labels: bug, helm

#244 Make `ui-schema` control labels optional
  graph-proxy/src/graphql/workflow_templates.rs
Labels: bug, rust

#247 Pin `kyverno` chart version to `3.2.6` in keyverno policy CI
  .github/workflows/_kyverno_policy.yaml
Labels: bug, helm, github actions

#248 Only create supergraph pull request if diff exists
  .github/workflows/_supergraph_update.yaml
Labels: bug, github actions
