Repository DiamondLightSource/workflows, pull requests merged in 2025-01, with the labels that each got.

#372 Fix Argo CD link in README
  README.md
Labels: documentation

#377 add grafana link to dashboard
  frontend/dashboard/src/components/dashboard.tsx
Labels: Frontend

#388 Group `dependabot` updates for vite(st)
  .github/dependabot.yaml
Labels: github_actions, javascript

#375 Add workflow status tests
  graph-proxy/src/graphql/workflows.rs
  graph-proxy/test-assets/get-workflow-jwcfp-errored.json
  graph-proxy/test-assets/get-workflow-kc7pf-running.json
  graph-proxy/test-assets/get-workflow-n6jsg.json
  graph-proxy/test-assets/get-workflow-pwtgn-null.json
  graph-proxy/test-assets/get-workflow-qhb59-failed.json
  graph-proxy/test-assets/get-workflow-wdkwj.json
  graph-proxy/test-assets/get-workflows.json
Labels: rust

#405 add team members to argocd admins
  charts/argocd/Chart.yaml
  charts/argocd/values.yaml
Labels: argoCD

#403 chore(deps): bump argocd from 7.7.5 to 7.7.22
  charts/workflows-cluster/Chart.yaml
  charts/workflows-cluster/values.yaml
Labels: dependencies

#407 Specify components & configure caching in Rust CI
  .github/workflows/_graph_proxy_code.yaml
  .github/workflows/_graph_proxy_schema.yaml
Labels: rust, github actions
